<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SharedLibrary.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.34.1.0" newVersion="3.34.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.AsyncEnumerable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.73.0.0" newVersion="1.73.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WinHttpHandler" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.13.1.0" newVersion="4.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.13.1.0" newVersion="4.13.1.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SharedLibrary.My.MySettings>
      <setting name="LastUpdateCheckWord" serializeAs="String">
        <value>2025-01-01</value>
      </setting>
      <setting name="LastUpdateCheckExcel" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="LastUpdateCheckOutlook" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="LastAnonPrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="PaneWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateRetryDateWord" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRetryCountWord" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateRetryPromptShownWord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateRetryDateExcel" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRetryCountExcel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateRetryPromptShownExcel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateRetryDateOutlook" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRetryCountOutlook" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateRetryPromptShownOutlook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastHelpMeChat" serializeAs="String">
        <value />
      </setting>
      <setting name="LastHelpMeChatHtml" serializeAs="String">
        <value />
      </setting>
      <setting name="HelpMeFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="HelpMeFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="HelpMeNoTopMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="ReplaceText2Override" serializeAs="String">
        <value />
      </setting>
      <setting name="MarkupMethodWordOverride" serializeAs="String">
        <value />
      </setting>
      <setting name="MarkupMethodOutlookOverride" serializeAs="String">
        <value />
      </setting>
      <setting name="HelpMeIncludeConfig" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LicensedTill" serializeAs="String">
        <value />
      </setting>
      <setting name="LicenseStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="LicenseUsers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastBetaWarningDate" serializeAs="String">
        <value />
      </setting>
      <setting name="BetaWarningStartCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GracePeriodWarningStartcount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LicenseWarningStartCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IgnoredUpdates_RedInk" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnoredUpdates_Custom" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickTranslateLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickTranslateX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QuickTranslateY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QuickTranslateWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QuickTranslateHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="License_Type" serializeAs="String">
        <value />
      </setting>
      <setting name="License_ProductID" serializeAs="String">
        <value />
      </setting>
      <setting name="License_Key" serializeAs="String">
        <value />
      </setting>
      <setting name="License_UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="License_ProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="License_ActivatedOn" serializeAs="String">
        <value />
      </setting>
      <setting name="License_ValidUntil" serializeAs="String">
        <value />
      </setting>
      <setting name="License_LastCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="License_PrivateConfirmedOn" serializeAs="String">
        <value />
      </setting>
      <setting name="License_PrivateVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="License_PrivateDismissCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="License_OfflineGraceStart" serializeAs="String">
        <value />
      </setting>
      <setting name="License_GracePeriodStart" serializeAs="String">
        <value />
      </setting>
      <setting name="License_State" serializeAs="String">
        <value />
      </setting>
      <setting name="License_AutoActivationWarningShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="License_LastMigrationPrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="License_StartupCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="License_ApiConfirmed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="License_LegacyMigrationStarted" serializeAs="String">
        <value />
      </setting>
      <setting name="RTFMessageBoxBounds" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="UpdateFailureCountWord" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateFailureCountExcel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateFailureCountOutlook" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedModelNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnableKBBackgroundIndexing" serializeAs="String">
        <value>False</value>
      </setting>
    </SharedLibrary.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
