<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Red_Ink_for_Excel.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RedDragon_for_Excel.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.34.1.0" newVersion="3.34.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.AsyncEnumerable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.73.0.0" newVersion="1.73.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WinHttpHandler" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.13.1.0" newVersion="4.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.13.1.0" newVersion="4.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.18.0.0" newVersion="8.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Red_Ink_for_Excel.MySettings>
      <setting name="LastPrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="LastChatHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DoCommands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeDocument" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotAlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CSV_Prompt" serializeAs="String">
        <value />
      </setting>
      <setting name="CSV_Separator" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="CSV_Columns" serializeAs="String">
        <value />
      </setting>
      <setting name="CSV_ChunkSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CSV_StartSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CSV_EndSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CSV_ResultStartLine" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CSV_ResultStartColumn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CSV_Attemps" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CSV_UseSecondModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Extractor_ManualInstruction" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_DateColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_SortColumn" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_SortDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_DoOcr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Extractor_DateClampFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_DateClampTo" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_OutputLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_DateOutputFormat" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_ManualSchema" serializeAs="String">
        <value />
      </setting>
      <setting name="Rename_ManualInstruction" serializeAs="String">
        <value />
      </setting>
      <setting name="Rename_OutputLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_MergeEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Extractor_MergeDateColumn" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractor_MergeInstruction" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatInkyMemory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DIR_Prompt" serializeAs="String">
        <value />
      </setting>
      <setting name="DIR_ChunkSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DIR_MaxContentChars" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="DIR_ResultStartLine" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DIR_ResultStartColumn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DIR_Attempts" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DIR_UseSecondModel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DIR_StartFile" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DIR_FileCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatContextPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatPersistContext" serializeAs="String">
        <value>False</value>
      </setting>
    </Red_Ink_for_Excel.MySettings>
    <RedDragon_for_Excel.MySettings>
      <setting name="LastPrompt" serializeAs="String">
        <value />
      </setting>
    </RedDragon_for_Excel.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
