<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Red_Ink_for_Outlook.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.34.1.0" newVersion="3.34.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.AsyncEnumerable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Red_Ink_for_Outlook.MySettings>
      <setting name="LastPrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatHistory_Inky" serializeAs="String">
        <value />
      </setting>
      <setting name="Inky_SelectedModelKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Inky_UseSecondApiSelected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Inky_DarkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatHistory_Inky2" serializeAs="String">
        <value />
      </setting>
      <setting name="Inky_LastChat" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="selectedToolNames" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardWindowX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardWindowY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardWindowH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardWindowW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardWindowMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardFields" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardLastLoadCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardColumnFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_FilterRules" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_WhitelistedSenders" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_SubjectTriggerWord" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_FooterText" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_MonitoredMailbox" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_RequireApproval" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AP_SelectedModelKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_SelectedExternalToolNames" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardSummaryCache" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardSummaryLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardGroupConversations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InboxBoardColumnOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="InkyPlay_HighScores" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardIncludeFlagged" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InboxBoardHideDoneFlags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InboxBoardGroupFlagsByDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InboxBoardPinnedFlagColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_LastProcessedTime" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardExpandedFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardLoadThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardStoreId" serializeAs="String">
        <value />
      </setting>
      <setting name="InboxBoardFolderPath" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InboxBoardIncludeSubfolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AP_UseSecondApi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AP_ReprocessLookbackHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AP_EnableWebGrounding" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AP_EnableVoicemailProcessing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AP_VoicemailSenderAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_VoicemailCallerIdMapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AP_EnableScheduler" serializeAs="String">
        <value>False</value>
      </setting>
    </Red_Ink_for_Outlook.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
